<!DOCTYPE html>
<html>
<head>
  <title>Geniusfy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="url">
</div>
<div class="container centered">
  <h1 class="helvetica">
    <span id="genius">GENIUS</span>
    <span id="x">X</span>
    <span id="spotify">SPOTIFY</span>
  </h1>
    <p id="tag">The best of both worlds.</p>
    <form id="search-form">
        <input type="text" id="query" value="" class="form-control" placeholder="Type an Artist Name"/>
        <input type="submit" id="search" class="btn btn-primary" value="Search" />
    </form>
    <div id="results"></div>
</div>
<script id="results-template" type="text/x-handlebars-template">
    {{#each albums.items}}
    <div style="background-image:url({{images.0.url}})" data-album-id="{{id}}" class="cover"></div>
    {{/each}}
</script>
<%= yield %>

</body>
</html>
